.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-section--bg-fixed {
    min-height: 100em;
    background-attachment: fixed;
    max-height: 800px;
}

/* backgrounds */
.cd-section:nth-child(1) {
    background-image: url("../Images/grassBackground.jpg");
}

.cd-section:nth-child(2) {
    background-image: url("../Images/test.jpg");
}

.cd-section:nth-child(3) {
    /* background image here */
}

#footer, #results{
    margin-top: 2em;
    margin-bottom: 2em;
}