.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-section--bg-fixed {
    min-height: 100em;
    background-attachment: fixed;
}

/* backgrounds */
.cd-section:nth-child(1) {
    background-image: url("../Images/grassBackground.jpg");
}

.cd-section:nth-child(2) {
    background-image: url("../Images/test.jpg");
}

.cd-section:nth-child(3) {
    /* background image here */
}

#footer, #results, #title{
    margin-top: 2em;
    margin-bottom: 2em;
}

#progressBubble {
    width:200px;
    height:50px;
    border:1px solid black;
    background: -webkit-linear-gradient(left, red 100%, white 0%);
    background: -moz-linear-gradient(left, red 50%, white 50%);
    background: -ms-linear-gradient(left, red 50%, white 50%);
    background: linear-gradient(left, red 50%, white 50%);
}


body {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

.ui.header{
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

.ui.positive.button {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

.ui.input {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-style: normal;
}

.ui{
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-style: normal;

}


